body {
    background-image: url(images/overlay.png),
     linear-gradient( 45deg, #e37682 15%, #5f4d93 85%);
     font-family: arial;
    }

.head {
    padding: 7em 5em 4em 5em;
    text-align: center;
    color: #dee0e3;
}

.acolor {
   color: #dee0e3;
   border-bottom: dotted 1px;
   text-decoration: none;
}

.wrapper {
        margin: auto;
        background: #dee0e3;
        width: 80%;
        border-radius: 10px;
        max-width: calc(100% - 4em);
        
}
  

.bela {
    color: white;
}

h1 {
   color: white;
}

.nav {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    color: #636363;

}

.titulo1 {
    margin: 50px 80px;
    color: #636363;
    font-size: 27px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}


.content {
    width: 60%;
    float: left;
}

.imagem {
   width: 40%;
   float: right;
   text-align: center;
}

.imagem img {
   border-radius: 50%;
}

.texto1 {
   margin: 50px 80px;
   color: #636363;
}



