body {
    background-image: url(images/overlay.png),
     linear-gradient( 45deg, #e37682 15%, #5f4d93 85%);
     font-family: arial;
    }

.head {
    padding: 7em 5em 4em 5em;
    text-align: center;
    color: #dee0e3;
}

.acolor {
   color: #dee0e3;
   border-bottom: dotted 1px;
   text-decoration: none;
}

.wrapper {
        margin: auto;
        background: #dee0e3;
        width: 80%;
        border-radius: 10px;
        max-width: calc(100% - 4em);
        
}
  

.bela {
    color: white;
}

h1 {
   color: white;
}

nav {
   
    background-color: #ffffff;
    color: #636363;
    position: absolute;
    width: 64em;
    max-width: calc(100% - 4em);
    padding: 1em;
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;

}
.botao {
   

}

