body {
    background-color: rgb(185, 187, 189);
}

.titulo{
    color: blue;
    text-align: center;

    
}

img {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.texto {
    text-align: center;
}

.hrColor {
    border: 2px solid black;
}

span{
    color:black;
}