.paragrafoVerde {
    color: rgb(137, 184, 66);
    line-height: 1.5;
    text-indent: 30px;
}

.paragrafoVermelho {
    color: red;
    line-height: 1.5;
    text-indent: 30px;
}
.linhaAzul{
    color:blue;
    line-height: 1.5;
}