body {
   background-color: rgb(204, 199, 199);
   font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

h1 {
   color: rgb(226, 221, 221);
   text-align: left;
   margin-left: 40px;
   text-shadow: 3px 1px black;

}

.head {
   margin: auto;
   background: rgb(148, 148, 148);   
   padding: 15px;     
}


nav .icons  {
  
   background: rgb(204, 199, 199);
   margin-right: 40px;
   margin-left: 70%;
   margin-top: -70px;
   border-radius: 10px;
}

.icons {
   display: flex;
   list-style: none;
   padding: 5px;
   justify-content: space-evenly;
   
}

nav .icons img {
    margin: 0 auto;
}


.button {
   display: block;
   text-decoration: none;
   padding: 20px;
   background-color: rgb(73, 86, 124);
   color:white;

}


.white {
   margin: auto;
   background: #dee0e3;
   width: 80%;
   border-radius: 20px;
   max-width: calc(100% - 4em);
}

img {
  display: block;
  margin-bottom: 40px;
  margin-right: auto;
  width: 36%;
  
}

.img1 img{ 
   border-radius: 10px;
   margin-left: 32%;
}
.img2 img{
   
   border-radius: 10px;
   margin-left: 32%;
}
.img3 img{
   
   border-radius: 10px;
   margin-left: 32%;
}
.img4 img{
  
   border-radius: 10px;
   margin-left: 32%;
}
.img5 img{
 
   border-radius: 10px;
   margin-left: 32%;
}

ul {
   list-style-type: none;
}

h2 {
   text-align: center;
   color: #4a4b80;
}
p {
   text-align: center;
   color: rgb(117, 117, 117);
}
